body {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: black;
}

.one-container {
    display: flex;
    justify-content: start;
    margin-left: 45px;
    margin-top: 45px;
}

.back-button {
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #b4b4b5;
}

.back-button i {
    /* You can style the icon here */
    font-size: 14px;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
}

.heading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    transform: translateY(-40%);
}

.heading {
    color: white;
    font-size: 32px;
    text-align: center;
}

.head-para-text {
    color: white;
    text-align: center;
    transform: translateY(-110%);
}

.image-container {
    display: flex;
    justify-content: center;
    transform: translateY(-45%);
}

.container {
    display: flex;
    height: auto;
}

.canvas-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

/* .canvas-container {
    position: relative;
    transform: translate(10%, -10%);
} */

canvas {
    border: 4px solid #ffffff;
}

.buttons-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-button {
    width: 7.5em;
    background-color: #ffffff; 
    font-size: 22px;
    font-family: 'PT Sans', sans-serif;
    color: rgb(0, 0, 0);
    padding: 7.5px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.action-button:hover {
    background-color: #b4b4b5;
}

.prediction-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h2-text {
    color: #ffffff;
    transform: translateY(-250%);
}

.rectangle {
    width: 200px; 
    height: 200px; 
    background-color: rgb(0, 0, 0);
    border: 1px solid #ffffff;
    align-content: center;
    justify-content: center;
    text-align: center;
    transform: translateY(-35%);
}

.result-text {
    color: white;
    font-size: 108px;
}

.para-text {
    color: white;
    transform: translateY(-250%);
}